ROOT=$(realpath $(basename $( dirname "$( readlink "${BASH_SOURCE[0]}" )" ) ) )

NODE_VERSIONS="${ROOT}/node"
NODE_VERSION="12.16.1"

if [ ! -x "${NODE_VERSIONS}/node-v${NODE_VERSION}/bin/node" ]; then
    mkdir -p "${NODE_VERSIONS}/node-v${NODE_VERSION}"
    curl -fsSL http://nodejs.org/dist/v${NODE_VERSION}/node-v${NODE_VERSION}-linux-$(uname -m).tar.gz | \
        tar xvz --strip 1 -C "${NODE_VERSIONS}/node-v${NODE_VERSION}"
fi

export PATH="${NODE_VERSIONS}/node-v${NODE_VERSION}/bin:$PATH"
use node ${NODE_VERSION}
npm install
