ROOT=$(realpath $(basename $( dirname "$( readlink "${BASH_SOURCE[0]}" )" ) ) )

NODE_VERSIONS="${ROOT}/node"
NODE_VERSION="12.18.0"
OS=$(uname -o | sed 's/^GNU\/L/l/')
ARCH=$(uname -m|sed 's/86_//'|sed 's/aarch64/arm64/')
URL=http://nodejs.org/dist/v${NODE_VERSION}/node-v${NODE_VERSION}-${OS}-${ARCH}.tar.xz

if [ ! -x "${NODE_VERSIONS}/node-v${NODE_VERSION}/bin/node" ]; then
    mkdir -p "${NODE_VERSIONS}/node-v${NODE_VERSION}"
    curl -fsSL ${URL} | \
        tar xvJ --strip 1 -C "${NODE_VERSIONS}/node-v${NODE_VERSION}"
fi

export PATH="${NODE_VERSIONS}/node-v${NODE_VERSION}/bin:$PATH"
use node ${NODE_VERSION}
npm install
